# Banco de dados
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/eteg_db"

# Redis
REDIS_URL="redis://redis:6379"

# API
PORT=3000
NODE_ENV=development

# Segurança
BCRYPT_SALT_ROUNDS=10
CPF_HASH_SECRET="troque-por-um-secret-forte"

# JWT
JWT_SECRET="troque-por-um-secret-forte"
JWT_EXPIRES_IN="8h"
